footer {
    padding: 10px 10px 0 10px;
    margin-bottom: 0;
    margin-top: 15px;
    background-color: #343a40 ;
}
.card-hotel{
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
}
.jumbotron {
    margin-top: 50px;
}
.text-color{
    color: white;
}